.LogData .log-table-row {
  display: flex;
  margin: 3%;
}

.LogData .log-table-col {
  background-color: aqua;
  width: 20%;
  margin-right: 3%;
}

.LogData .log-table-col:last-child {
  margin-right: 0;
}
